---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: victoria-metrics
spec:
  interval: 30m
  upgrade:
    remediation:
      remediateLastHelmReleaseRevision: true
  chart:
    spec:
      chart: victoria-metrics-k8s-stack
      version: "*"
      sourceRef:
        kind: HelmRepository
        name: vkms
      interval: 12h
  values:
    alertmanager:
      ingress:
        enabled: true
        ingressClassName: cilium
        hosts:
          - "alertmanager.${domain}"
    grafana:
      ingress:
        enabled: true
        ingressClassName: cilium
        hosts:
          - "grafana.${domain}"
    vmagent:
      ingress:
        enabled: true
        ingressClassName: cilium
        hosts:
          - "vmagent.${domain}"
    vmalert:
      ingress:
        enabled: true
        ingressClassName: cilium
        hosts:
          - "vmalert.${domain}"
    vmsingle:
      ingress:
        enabled: true
        ingressClassName: cilium
        hosts:
          - "vmsingle.${domain}"
