# Editors
.vscode/
# k8s
kubeconfig
talosconfig
# certificates and keys
*.pem
*.key
*.crt
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
# Brew
Brewfile.lock*
