apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: flux-system
spec:
  interval: 10m
  chart:
    name: cilium
    version: ">=1.16.0"
    sourceRef:
      kind: HelmRepository
      name: cilium
      namespace: flux-system
  values:
    ipam:
      mode: kubernetes
    gatewayAPI:
      enabled: true
    hostFirewall:
      enabled: true
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
        ingress:
          enabled: true
          ingressClassName: cilium
    ingressController:
      enabled: true
    cgroup:
      autoMount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    k8sServiceHost: 192.168.2.65
    k8sServicePort: 6443
    kubeProxyReplacement: strict
    securityContext:
      capabilities:
        ciliumAgent:
        - CHOWN
        - KILL
        - NET_ADMIN
        - NET_RAW
        - IPC_LOCK
        - SYS_ADMIN
        - SYS_MODULE
        - SYS_RESOURCE
        - DAC_OVERRIDE
        - FOWNER
        - SETGID
        - SETUID
        cleanCiliumState:
        - NET_ADMIN
        - SYS_ADMIN
        - SYS_MODULE
        - SYS_RESOURCE
